@font-face {
    font-family: Thunderman;
    src: url(../fonts/Thunderman.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Bubblegum;
    src: url(../fonts/Bubblegum.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Grobold;
    src: url(../fonts/GROBOLD.ttf);
    font-weight: bold;
}

body {
    color: #efe;
    font-family: tahoma;
    background-color: rgb(224, 255, 233);
    /* background-image: -webkit-linear-gradient(bottom, rgb(180,25,90) 0%, rgb(80,85,175) 100%); */

    background-image: -o-linear-gradient(
        bottom,
        rgb(180, 25, 90) 0%,
        rgb(80, 85, 175) 100%
    );
    background-image: -moz-linear-gradient(
        bottom,
        rgb(180, 25, 90) 0%,
        rgb(80, 85, 175) 100%
    );
    background-image: -webkit-linear-gradient(
        bottom,
        rgb(180, 25, 90) 0%,
        rgb(80, 85, 175) 100%
    );
    background-image: -ms-linear-gradient(
        bottom,
        rgb(180, 25, 90) 0%,
        rgb(80, 85, 175) 100%
    );
    background-image: linear-gradient(
        bottom,
        rgb(180, 25, 90) 0%,
        rgb(80, 85, 175) 100%
    );
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* p {
    font-family: Thunderman, Helvetica, Arial, sans-serif;
}*/

.countMessage {
    font-family: Bubblegum, Helvetica, Arial, sans-serif;
    font-size: 2vmin;
    position: absolute;
    left: 15px;
    top: 15px;
    line-height: 1.6em;
    opacity: 0.035;
}

.bdMessage {
    font-family: Thunderman, Helvetica, Arial, sans-serif;
    position: absolute;
    margin: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#hbd {
    /* right: 50%; */
    top: 17%;
    line-height: 1.6em;
    font-size: 6.2vmin;
    opacity: 0;
}

#wte {
    /* right: 50%; */
    top: 75%;
    line-height: 1.6em;
    font-size: 4.3vmin;
    opacity: 0;
}

.countMessage:hover {
    opacity: 0.55;
}

a {
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

div#container {
    position: absolute;
}

svg {
    visibility: hidden;
    /* width:55%; */
}

img {
    visibility: hidden;
    width: 50%;
    position: absolute;
}
