@CHARSET "ISO-8859-1";
@font-face {
    font-family: MyFrida;
    src: url(../fonts/myfrida/Myfrida-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: MyFrida;
    src: url(../fonts/myfrida/Myfrida-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: MyFrida;
    src: url(../fonts/myfrida/Myfrida-Regular-Italic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: MyFrida-Hollow;
    src: url(../fonts/myfrida/Myfrida-Hollow.otf);
    font-weight: normal;
    font-style: normal;
}
