html, body {margin: 0; height: 100%; overflow: hidden}
body{
	font-family: MyFrida,helvetica;
	color: #000;
	background-color: #696969;
}
#contactMenu{
  color: #f2f2f2;
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
	/*text-align:right;*/
  height: 50px;
	width:100%;
	position:fixed;
	bottom:0;
	z-index:10;
  padding: 0px 0px 10px 0px;
}
#contactMenu ul{
	padding: 0 30px;
}
#contactMenu li{
	display:inline-block;
	position:relative;
}
#contactMenu li a{
	display: block;
	margin: 0 20px 0 0;
	color: #1e1e1e;
}
#contactMenu li a:hover{
	color: #4f4f4f;
}
