/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";
@use "themes/nord" as nord;

:root {
  color-scheme: light;
  --global-bg-color: #{nord.$nord6};
  --global-code-bg-color: #{nord.$nord4};
  --global-text-color: #{nord.$nord0};
  --global-text-color-light: #{nord.$nord2};
  --global-theme-color: #{nord.$nord12};
  --global-hover-color: #{nord.$nord12};
  --global-hover-text-color: #{nord.$nord6};
  --global-footer-bg-color: #{nord.$nord1};
  --global-footer-text-color: #{nord.$nord4};
  --global-footer-link-color: #{nord.$nord6};
  --global-distill-app-color: #{nord.$nord2};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{nord.$nord5};
  --global-highlight-color: #{nord.$nord11};
  --global-back-to-top-bg-color: rgba(
    #{color.channel(nord.$nord0, "red", $space: rgb)},
    #{color.channel(nord.$nord0, "green", $space: rgb)},
    #{color.channel(nord.$nord0, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{nord.$nord6};
  --global-newsletter-bg-color: #{nord.$nord6};
  --global-newsletter-text-color: #{nord.$nord0};

  --global-tip-block: #{nord.$nord14};
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #{nord.$nord14};
  --global-warning-block: #{nord.$nord13};
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #{nord.$nord13};
  --global-danger-block: #{nord.$nord11};
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #{nord.$nord11};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #{nord.$nord0};
  --global-code-bg-color: #{nord.$nord1};
  --global-text-color: #{nord.$nord6};
  --global-text-color-light: #{nord.$nord5};
  --global-theme-color: #{nord.$nord8};
  --global-hover-color: #{nord.$nord8};
  --global-hover-text-color: #{nord.$nord5};
  --global-footer-bg-color: #{nord.$nord4};
  --global-footer-text-color: #{nord.$nord1};
  --global-footer-link-color: #{nord.$nord2};
  --global-distill-app-color: #{nord.$nord4};
  --global-divider-color: #{nord.$nord3};
  --global-card-bg-color: #{nord.$nordbg};
  --global-back-to-top-bg-color: rgba(
    #{color.channel(nord.$nord6, "red", $space: rgb)},
    #{color.channel(nord.$nord6, "green", $space: rgb)},
    #{color.channel(nord.$nord6, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{nord.$nord0};
  --global-newsletter-bg-color: #{nord.$nord4};
  --global-newsletter-text-color: #{nord.$nord1};

  --global-tip-block: #{nord.$nord14};
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #{nord.$nord14};
  --global-warning-block: #{nord.$nord13};
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #{nord.$nord13};
  --global-danger-block: #{nord.$nord11};
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #{nord.$nord11};

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
