eb-modebody {
    color: #808080;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}
div#container {
    -ms-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
}
#info {
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
}
.square {
    font-family: Verdana;
    font-size: 16px;
    color: #a0a0a0;
    width: 60px;
    height: 90px;
    position: absolute;
    border: 1px solid #a0a0a0;
}
.square:hover {
    font-size: 18px;
    color: #ffffff;
    width: 72px;
    height: 108px;
    border: 2px solid #ffffff;
}
#producto {
    margin: 15px 0 0 30px;
}
#inmersivos {
    margin: 50px 0 0 12px;
}
#mercado {
    margin: 65px 0 0 30px;
}
#procesos {
    margin: 40px 0 0 -65px;
}
