html, body {margin: 0; height: 100%; overflow: hidden}
body{
	font-family: MyFrida,helvetica;
	color: #000;
	background-color: #6b6b6b;
}
#contactMenu{
  color: #f2f2f2;
  font-weight: bold;
  font-style: italic;
  font-size: 1.3em;
	/*text-align:right;*/
  height: 50px;
	width:100%;
	position:fixed;
	bottom:0;
	z-index:10;
  padding: 0px 0px 15px 0px;
}
#contactMenu ul{
	padding: 0 35px;
}
#contactMenu li{
	display:inline-block;
	position:relative;
}
#contactMenu li a{
	display: block;
	margin: 0 20px 0 0;
	color: #888;
}
#contactMenu li a:hover{
	color: #fff;
}
#main_screen{
	/* DEBUG: ----- */
	/* display: none;
	/* ------------ */
	position: absolute;
	background-color: rbga(0,0,0,0);
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	animation-duration: 4s;
}
.dummy{
	display: none;
}
#center_image{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
